body{
    background:white    
}

.cabeca{
    display: flex;
    padding-left: 100px;
    justify-content: space-around;
    padding-right: 1300px;
}

.vermelho{
    color: crimson;
}

#azul{
    color: cornflowerblue;
}

#verde{
    color: chartreuse;
}

#laranja{
    color: coral;
}

#azulescuro{
    color: blue;
}

#verdeescuro{
    color: darkgreen;
}

#pessoa{
    display: flex;
    justify-content: center;
}