body{
    background-color: black;
    color: white;
    text-align: center;
}

.link {
    color: rgb(92, 255, 71);
    border: 2px solid rgb(255, 255, 255);     
    padding: 10px 20px;         
    margin: 10px;
    display: inline-block;       
    border-radius: 8px;          
    background-color: rgb(0, 0, 0);      
}

.link:hover{
    color: blue ;
}

.tabelas{
    display: flex;
    justify-content: center;
    padding: 200px;

}